/* Resets */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
}

/* Body */
body > * {
    text-align: center;
    margin: 0px auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #000;
    margin: 0 auto;
    width: 500px;
}

.grids {
    padding: 14px;
    border: 1px solid #000;
    flex: 1 1 auto;
}
