/* Resets */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
}

/* Body */

.grids {
    width: 14px;
    height: 14px;
    border: 2px solid #000;
}
